.section__C {
    padding: 50px 0 !important;
    background-image: url("../images/S_cBg.jpg");
    background-size: cover;
    background-position: center center;

    h1 {
        font-size: 1.6em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;

    }

    .subsection {
        text-align: center;
        margin: 0 auto;


    }

    .image__container {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        display: grid;

        @media only screen and (min-width:800px) {

            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
            display: grid;
        }

        @media only screen and (max-width:540px) {

            grid-gap: 30px;
            grid-template-columns: repeat(1, .7fr);
            display: grid;
            justify-content: center;

            img {
                max-width: 90%;
            }
        }



        position: relative;
        justify-content: space-between;

        &>.container__elem {
            &:first-child {
                margin-left: 0%;
            }

            &:last-child {
                margin-right: 0%;


            }
        }

        &>.container__elem {
            &:not(:nth-of-type(2)) {
                background-color: #1371b8;

                h3 {
                    color: #fff;
                    background-color: transparent;
                }
            }

            &:nth-of-type(2) {
                background-color: #fff;

                h3 {
                    background-color: transparent;
                    color: #1371b8;
                }
            }

            position: relative;
            margin: 0 auto !important;

            @media only screen and (max-width:576px) {

                margin: 0 auto !important;
            }

            &:not(:last-child) {
                @media only screen and (max-width:576px) {


                    margin-bottom: 35%;


                }
            }

            &>.h__r {
                padding: 2% 2% 2% 2%;
                min-height: 220px;
                display: grid;

                &:first-of-type {
                    &>img {
                        margin-bottom: 20px;
                    }
                }

                &>img {

                    padding: 20% 25% 0px 25%;
                    margin: 0 auto;

                }

                h3 {
                    font-weight: 550;
                    margin-top: 15px;

                    @media screen and (max-width: 844px) {
                        font-size: 1.3em;

                    }

                    &:first-of-type {

                        margin-bottom: 20px;

                    }
                }

            }
        }
    }


}